@import url(global.css);

#container-aside {
    width: 30%;
    padding: 24px 24px 0 0;
    /* background-color: #b7ddf7; */
}

.aside-video-containers {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    word-wrap: break-word;
}

.thumbnail {
    height: 90px;
    width: 160px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.thumbnail img {
    border-radius: 8px;
    object-fit: cover;
    width: 160px;
    height: 90px;
}

.aside-video-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;    
    width: 196px;
    max-height: 90px;
}

.aside-video-title {
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 600;
    /* width: 173px;
    white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /* border: 1px solid black; */
}

.aside-video-channel-name {
    color: #515151;
    font-size: 12px;
    margin-bottom: 8px;
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid black; */
}

.aside-video-views {
    color: #515151;
    font-size: 12px;
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid black; */
}

.aside-video-transmition {
    color: #515151;
    font-size: 12px;
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid black; */
}