@import url(global.css);

#container-aside {
    flex-grow: 1;
    background-color: yellowgreen;
}

.aside-video-containers {
    display: flex;
    flex-direction: row;
    padding: 24px 24px 0 0;
}

.thumbnail {
    height: 90px;
    width: 160px;
    margin-right: 8px;
    background-color: aquamarine;
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.aside-video-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
    width: 196px;
}

.aside-video-title {
    font-weight: 600;
}